* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
}

.container {
    border: 0.2rem solid black;
    width: 55rem;
    text-align: center;
    margin-top: 10rem;
    padding: 4rem;
    background: linear-gradient(168deg,#e200ff 0%, #00daff 80%);
    color: bisque;
}

#cabecera {
    background-color: blueviolet;
    color: black;
    padding: 1rem;
    box-shadow: 20px -10px 5px 0px rgba(0,0,0,0.75);
}